// Ro'yxatdagi stillarni olib tashlash

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


// Psevdoelementdagi uchburchak

@mixin triangle ($direction, $size: 15px, $color: black) {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";

  @if $direction == "up" {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  } @else if $direction == "down" {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  } @else if $direction == "left" {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  } @else if $direction == "right" {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
}


// Media so'rovlar uchun mixin

@mixin breakpoint-down ($screen-width) {
  @media only screen and (max-width: $screen-width) {
    @content;
  }
}

@mixin breakpoint-up ($screen-width) {
  @media only screen and (min-width: $screen-width) {
    @content;
  }
}

@mixin breakpoint-between ($min-screen, $max-screen) {
  @media only screen and (min-width: $min-screen) and (max-width: $max-screen) {
    @content;
  }
}

// Font-weighti 500 bo'lganiga

@mixin bold-big-font {
  font-size: 100px;
  line-height: 100px;
}

@mixin bold-bigger-font {
  font-size: 64px;
  line-height: 100px;
}

@mixin bold-medium-font {
  font-size: 48px;
  line-height: 48px;
}

@mixin bold-small-font {
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}

@mixin semi_bold-font {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

// line

@mixin line ($line-color) {
  display: block;
  width: 50px;
  height: 4px;
  background-color: $line-color;
}
