// Background colors

$midnight-green: #014E56;
$state-green: #012F34;

// Text colors

$white-text: #ffffff;
$pink-text: #F67E7E;


// Button colors

$primary-dark: #012F34;
$primary-light-hover: #002529;
